@model Doan.Models.TbBlog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Blog Details</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Details</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-12 m-b30">
                <div class="card widget-box">
                    <div class="card-body">
                        <h4 class="card-title">Blog Details</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-3">Title:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Title)</dd>

                            <dt class="col-sm-3">Alias:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Alias)</dd>

                            <dt class="col-sm-3">Description:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

                            <dt class="col-sm-3">Detail:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Detail)</dd>

                            <dt class="col-sm-3">Image:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Image)</dd>

                            <dt class="col-sm-3">Created Date:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedDate)</dd>

                            <dt class="col-sm-3">Created By:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedBy)</dd>

                            <dt class="col-sm-3">Modified Date:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.ModifiedDate)</dd>

                            <dt class="col-sm-3">Modified By:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.ModifiedBy)</dd>

                            <dt class="col-sm-3">Is Active:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.IsActive)</dd>

                            <dt class="col-sm-3">Account:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Account.AccountId)</dd>

                            <dt class="col-sm-3">Category:</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Category.CategoryId)</dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@Model?.BlogId" class="btn green radius-xl outline">Edit</a>
                        <a asp-action="Index" class="btn red outline radius-xl btn-delete">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
