@model IEnumerable<Doan.Models.TbAccount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Account List</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Accont List</li>
            </ul>
        </div>

        <!-- Add Create New Button -->
        <div class="row mb-4">
            <div class="col-lg-12">
                <a asp-action="Create" class="btn navy radius-xl outline">Create New</a>
            </div>
        </div>

        <div class="row">
            <!-- Your Menu List -->
            <div class="col-lg-12 m-b30 table-container">
                <!-- Thêm class "table-container" ở đây -->
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>UserName</th>
                            <th>Password</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            

                            <th>IsActive</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @foreach (var menu in Model)
                        {
                            <tr id="tr_@menu.AccountId">
                                <td>@(i++)</td>
                                <td>@menu.Username</td>
                                <td>
                                    <!-- Hiển thị chỉ một phần của mật khẩu -->
                                    @if (menu.Password.Length > 5)
                                    {
                                        <span>@menu.Password.Substring(0, 5)...</span>
                                    }
                                    else
                                    {
                                        <span>@menu.Password</span>
                                    }
                                </td>
                                <td>@menu.FullName</td>
                                
                                <td>@menu.Email</td>
                                <td>@menu.Role.RoleName</td>

                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="isActiveCheckbox_@menu.AccountId" data-id="@menu.AccountId" data-isactive="@menu.IsActive.ToString().ToLower()" checked="@menu.IsActive" />

                                        <label class="@(menu.IsActive ? "ti-unlock" : "ti-lock")" for="isActiveCheckbox_@menu.AccountId"></label>
                                    </div>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@menu.AccountId" class="btn blue radius-xl outline">Edit</a>
                                    <a asp-action="Details" asp-route-id="@menu.AccountId" class="btn green radius-xl outline">Details</a>
                                    <a data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@menu.AccountId" class="btn red outline radius-xl btn-delete">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Your Menu List END -->
        </div>
    </div>
</main>

<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green radius-xl outline" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn red outline radius-xl " id="confirmDeleteBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            let _id;

            $(".btn-delete").click(function () {
                _id = $(this).data("id");

                
                $("#deleteConfirmationModal").modal("show");

              
                $("#confirmDeleteBtn").click(function () {
                    $.ajax({
                        url: "/admin/Accounts/delete",
                        type: "POST",
                        data: { id: _id },
                        success: function (result) {
                            if (result) {
                                $("#tr_" + _id).remove();
                                toastr.success('Xóa thành công');
                            }
                            else {
                                toastr.error('Xóa không thành công');
                            }
                        }
                    });

                   
                    $("#deleteConfirmationModal").modal("hide");
                });
            });
        });

        $(document).ready(function () {
            $(".custom-control-input").change(function () {
                var _id = $(this).data("id");
                var isChecked = $(this).prop("checked");

               
                $.ajax({
                    url: "/admin/Accounts/toggleIsActive",
                    type: "POST",
                    data: { id: _id, isActive: isChecked },
                    success: function (result) {
                        if (result) {         
                            $(".custom-control-input[data-id='" + _id + "']").data("isactive", isChecked);
                            if (isChecked) {
                                toastr.success('Đã mở khóa');
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            } else {
                                toastr.error('Đã khóa');
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            }
                        } else {
                            toastr.error('Cập nhật không thành công');
                        }
                    }
                });
            });
        });
    </script>
}

