@model IEnumerable<TbEvent>
@using Doan.Utilities
<!-- Form END -->
<div class="section-area section-sp2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading-bx">
                <h2 class="title-head m-b0">Khu <span>Sự kiện</span></h2>
                <p class="m-b0">Các sự kiện mới nhất của trường. </p>
            </div>
        </div>
        <div class="row">
            <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
                @foreach (var eventItem in Model)
                {
                    string sUrl = Functions.TitleSlugGeneration("Event", eventItem.Title, eventItem.EventId);
                    <div class="item">
                        <div class="event-bx">
                            <div class="action-box">
                                <img src="@eventItem.ImageUrl" alt="">
                            </div>
                            <div class="info-bx d-flex">
                                <div>
                                    <div class="event-time">
                                        <div class="event-date">@eventItem.StartDate.Day</div>
                                        <div class="event-month">@eventItem.StartDate.ToString("MMMM")</div>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <h4 class="event-title"><a href="@sUrl">@eventItem.Title</a></h4>
                                    <ul class="media-post">
                                        <li><i class="fa fa-clock-o"></i> @eventItem.StartTime đến @eventItem.EndTime</li>
                                        <li><i class="fa fa-map-marker"></i> @eventItem.Location</li>
                                    </ul>
                                    <p>@eventItem.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="text-center">
            <a href="/Event" class="btn">Xem tất cả sự kiện</a>
        </div>
    </div>
</div>
