


@model IEnumerable<Doan.Models.Event>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Events";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!--Main container start -->
<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title">Edit Blogs</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li>Events</li>
            </ul>
        </div>
       

        <!-- Add Create New Button -->
        <div class="row mb-4">
            <div class="col-lg-12">
                <a asp-action="Create" class="btn navy radius-xl outline">Create New</a>
            </div>
        </div>

        <div class="row">
            <!-- Your Blog List -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title">
                        <h4>Your Blog List</h4>
                    </div>
                    <div class="widget-inner">
                        @foreach (var blog in Model)
                        {
                            <div id="tr_@blog.EventId" class="card-courses-list admin-courses">
                                <div class="card-courses-media">
                                    <img src="@blog.ImageUrl" alt="@blog.Title" />
                                </div>
                                <div class="card-courses-full-dec">
                                    <div class="card-courses-title">
                                        <h4>@blog.Title</h4>
                                    </div>
                                    <div class="card-courses-list-bx">
                                        <ul class="card-courses-view">
                                            <li class="card-courses-user">
                                                <div class="card-courses-user-pic">
                                                    <img src="~/assets/images/testimonials/pic3.jpg" alt="" />
                                                </div>
                                                <div class="card-courses-user-info">
                                                    <h5>Author</h5>
                                                    <h4>@blog.CreatedBy</h4>
                                                </div>
                                            </li>


                                            <li class="card-courses-stats">
                                                <h5>Active</h5>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="isActiveCheckbox_@blog.EventId" data-id="@blog.EventId" data-isactive="@blog.IsActive.ToString().ToLower()" checked="@blog.IsActive" />

                                                    <label class="custom-control-label" for="isActiveCheckbox_@blog.EventId">
                                                        
                                                    </label>
                                                </div>
                                            </li>


                                        </ul>
                                    </div>
                                    <div class="row card-courses-dec">
                                        <div class="col-md-12">
                                            <h6 class="m-b10">Blog Description</h6>
                                            <p>@blog.Description</p>
                                        </div>
                                        <div class="col-md-12">
                                            <a asp-action="Edit" asp-route-id="@blog.EventId" class="btn blue radius-xl outline">Edit</a>
                                            <a asp-action="Details" asp-route-id="@blog.EventId" class="btn green radius-xl outline">Details</a>
                                            <a data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@blog.EventId" class="btn red outline radius-xl btn-delete">Delete</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="pagination-bx rounded-sm gray clearfix">
                        @Html.PagedListPager((IPagedList)ViewBag.PaginatedBlogs, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
                        {
                        ActiveLiElementClass = "active",
                        PageClasses = new[]{ "page-link"},
                        LiElementClasses=new[] { "page-item" },
                        UlElementClasses = new[] { "pagination", "justify-content-center"},
                        })
                    </div>

                </div>
            </div>
            <!-- Your Blog List END -->
        </div>
    </div>
</main>
<!-- Modal for delete confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green radius-xl outline" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn red outline radius-xl " id="confirmDeleteBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/admin/assets/js/delete.js">
</script>

    <script>
        $(document).ready(function () {
            $(".custom-control-input").change(function () {
                var _id = $(this).data("id");
                var isChecked = $(this).prop("checked");


                $.ajax({
                    url: "/admin/blogs/toggleIsActive",
                    type: "POST",
                    data: { id: _id, isActive: isChecked },
                    success: function (result) {
                        if (result) {
                            // Cập nhật giao diện người dùng
                            $(".custom-control-input[data-id='" + _id + "']").data("isactive", isChecked);
                            toastr.success('Đã cập nhật trạng thái');
                        } else {
                            toastr.error('Cập nhật không thành công');
                        }
                    }
                });
            });
        });
    </script>
}

